:root{
    /*Primary*/
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /*Neutral*/
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    
    /*Font-size*/
    --para: 14px;
    --title: 34px;
  }

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--para);
}

.product-preview{
    height: 100vh;
    width: 100vw;
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.product-cart{
    display: flex;
    background-color: var(--White);
    max-width: 640px;
    height: 480px;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}

.product-image{
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
    border-radius: 12px 0 0 12px;
}

.product-information{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    padding: 36px;
}

.product-description{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-description p:nth-child(1){
    color: var(--dark-grayish-blue);
    letter-spacing: 7px;
} 

.product-description h2{
    font-size: var(--title);
    color: var(--very-dark-blue);
    line-height: var(--title);
    font-family: 'Fraunces', serif;
}

.product-description p:nth-child(3){
    line-height: 24px;
    color: var(--dark-grayish-blue);
}

.product-price{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.product-price p:nth-child(1) {
    font-size: var(--title);
    color: var(--dark-cyan);
    font-family: 'Fraunces', serif;
}

.product-price p:nth-child(2) {
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
}

.primary-button{
    width: 100%;
    height: 48px;
    margin-top: 20px;
    border: none;
    background-color: var(--dark-cyan);
    color: var(--White);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.primary-button img{
    padding: 10px;
}

.primary-button:hover{
    background-color: hsl(158, 36%, 17%);
}

.attribution{
    font-size: 10px; 
    text-align: center;
    color: var(--dark-grayish-blue); 
}

.attribution a { 
    font-size: 10px; 
    color: var(--dark-grayish-blue); 
}

@media (max-width:450px) {
    .product-cart{
      width: 100%;
      height: 612px;
      flex-direction: column;
    }

    .product-information{
      width: 100%;
      height: 60%;
      padding: 18px;
    }
    .product-description{
      height: 55%;
    }

    .product-image{
      background-image: url(./images/image-product-mobile.jpg);
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 40%;
      border-radius: 12px 12px 0 0;
    }

  }

